body {
    background-color: #B0D5DA;
}

.google-fonts-a {
    font-family: "Playfair Display SC", serif;
}

.google-fonts-b {
    font-family: "Inter", sans-serif;
}

section {
    margin: 0 225px;
}

h2 {
    font-family: "Playfair Display SC", serif;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
}

nav {
    font-family: "Inter", sans-serif;

    display: flex;
    justify-content: space-between;
    align-items: center;

    color: #32798F;

    padding: 20px 75px;
}

.logo-and-adress {
    display: flex;
    align-items: center;
}

.adress-in-head {
    margin-left: 30px;

    display: flex;
    flex-direction: column;
}

nav button:not(:last-child) {
    margin: 12.22px;
    font-size: 20px;
    font-weight: 400;
    background-color: #fff;
}

nav button:last-child {
    font-size: 20px;
    font-weight: 400;

    border: solid #32798F 2px;
    border-radius: 50px;
}

nav button {
    padding: 17px 25px 17px 25px;
    border-radius: 50px;
}

.menu {
    display: flex;
    align-items: center;
}

.whatsapp,
.language {
    display: flex;
    padding: 15px 25px 15px 25px;
    align-items: center;
}

.language img {
    margin-left: 10px;
}

.whatsapp img {
    margin-right: 3px;
}

._head {
    font-family: "Inter", sans-serif;
    margin-top: 50px;
}

h1 {
    font-family: "Playfair Display SC", serif;

    font-size: 100px;
    font-weight: 400;
    line-height: 100px;
    margin-top: 30.6px;
}

.reserve-btn {
    padding: 20px 30px 20px 30px;
    background-color: #32798F;
    color: #FFFFFF;
    border-radius: 50px;

    margin-top: 50px;
}

._villa-feedback-form {
    display: flex;
}

.spacer {
    margin-top: 150px;
}

._villa-feedback-form p {
    width: 346px;

    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    color: #71838C;
}

.section-one_villa-feedback-form,
.section-two_villa-feedback-form {
    width: 50%;
}

.section-two_villa-feedback-form {
    display: flex;
    justify-content: center;
}

.section-one_villa-feedback-form p {
    margin-top: 23px;
}

.fake-form {
    /* width: 654px; */
    /* height: 747px; */

    width: 90%;
    height: 80vh;

    background-color: #ffffff;
    border-radius: 40px;

    padding: 30px;
}

.prices {
    display: flex;
}

.prices-container {
    width: 50%;
    margin-top: 53px;
}

.prices span {
    font-size: 14px;
    line-height: 28px;
    color: #71838C;
}

.span-a {
    color: #1A2D30;
    margin-right: 37px;
}

.span-b {
    background-color: #fff;
    padding: 5px 20px 5px 20px;
    border-radius: 100px;
}

.price-in-euros {
    margin-top: 24px;

    font-size: 80px;
    font-weight: 400;
    line-height: 60px;
}

.interior-container_blocks {
    display: flex;
    justify-content: space-between;

    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
}

.interior-container h2 {
    font-weight: 400;
    font-size: 60px;
    line-height: 70px;

    margin-bottom: 80px;
}

.interior {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30%;
    height: 500px;

    border-radius: 40px;

    color: #fff;

    font-family: "Playfair Display SC", serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 100%;
    text-transform: uppercase;
}

.interior_1 {
    background:
        linear-gradient(rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)),
        url('./img/turtle 1.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.interior_2 {
    background:
        linear-gradient(rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)),
        url('./img/turtle 1.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.interior_3 {
    background:
        linear-gradient(rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)),
        url('./img/turtle 1.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}


/* ----------- Удобства и оснащения в доме ------------- */
.facilities-main-block {
    display: flex;
}

.facilities-1,
.facilities-2 {
    width: 50%;
}

.facilities-2 {
    position: absolute;
    right: 0;

    margin-right: 0;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        ". ."
        ". .";
    gap: 10px;
    /* justify-items: center; */
    /* align-items: center; */
}

.facilities-1 {
    flex-direction: column;
}

.facilities-1 span {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.facilities-services {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px 20px;
    grid-template-areas:
        ". . ."
        ". . ."
        ". . .";

    margin: 73px 30% 0 0;
}


.facilities-services span span {
    margin-top: 1vh;
}


.facilities-services span {
    font-family: "Inter", sans-serif;

    color: #71838C;

    font-weight: 400;
    font-size: 16px;
    line-height: 187%;
    text-align: center;
}

.circle-1 {
    background-color: #ffffff;
    color: #32798F;
}

.circle-2 {
    background-color: #32798F;
    color: #ffffff;

}

.circle-1,
.circle-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 10px;

    width: 260px;
    height: 260px;

    border-radius: 100%;
}

.circle p {
    font-family: "Playfair Display SC", serif;
    font-weight: 400;
    font-size: 60px;
    line-height: 100%;

    margin-bottom: 18px;

}

.circle span {
    font-family: "Inter", sans-serif;

    font-weight: 400;
    font-size: 16px;
    line-height: 187%;
}

.circle-set-r {
    display: flex;
    justify-content: flex-end;
}

.circle-set-l {
    display: flex;
    justify-content: flex-start;
}

/* -----------  ------------- */


/* ----------- holiday ------------- */
.holiday {
    display: flex;
}

.holiday-1,
.holiday-2 {
    width: 50%;
    /* border: #1A2D30 solid; */
}

.holiday-1 {
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
}

.holiday-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.holiday-2 h2 {
    font-family: "Playfair Display SC", serif;
    font-weight: 400;
    font-size: 35px;
    line-height: 129%;
}

.holiday-2 p {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 2.4vh;
    /* font-size: 20px; */
    line-height: 150%;

}

.holiday-2 h2 {
    /* border: solid red; */
    margin-bottom: 1vh;
}

.holiday-2 p {
    /* border: solid red; */
    padding: 5vh 5vh 0 0;
}

.holiday-img img {
    height: 85vh;
}

/* -----------  ------------- */

/* ----------- conditions ------------- */
.conditions {
    display: flex;
    /* border: solid black; */
}

.conditions-1,
.conditions-2 {
    width: 50%;
    /* border: solid red; */
}

.conditions .description {
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: #fff;
    margin: 20px 20px 20px 0;
    border-radius: 40px;
    padding: 30px;

    min-height: 15vh;

    font-family: "Inter", sans-serif;
}

.conditions .description p,
.conditions-rules p,
.conditions-rules span {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;

    color: #32798F;

    margin-bottom: 1.3vh;
}

.conditions .description span,
.conditions-rules span {
    font-weight: 400;
    font-size: 16px;
    color: #1A2D30;
}

.conditions-2 {
    display: flex;
}

.conditions-rules {
    width: 100%;
    background-color: #fff;
    margin: 20px 0;
    border-radius: 40px;
    padding: 30px;
}

.conditions-rules {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rules div span {
    margin-right: 10%;
}


/* ----------- attractions ------------- */
.attractions {
    display: flex;
    height: 60vh;
}

.attractions-1,
.attractions-2 {
    /* border: solid black; */
    width: 50%;
}

.attractions-img {
    background: url("img/Rectangle\ 52.png") 0 0 / cover no-repeat;
    width: 100%;
    height: 100%;
}


.attractions-img {
    background: url("img/Rectangle\ 52.png") 0 0 / cover no-repeat;
    /* width: 100%; */
    height: 100%;
}

.attractions-2 {
    display: flex;
}

.attractions-min-2,
.attractions-min-3 {
    /* border: solid blue; */
    display: flex;
    flex-direction: column;

    width: 50%;
}

.attractions-1 {
    /* border: solid blue; */
    display: flex;
    flex-direction: column;

    width: 50%;

    margin: 0 1em 0 0;
}

.attractions-description {
    height: 11vh;
    background-color: #fff;
}

.description-min {
    height: 28vh;
}

.margin-05em {
    margin: .5em;
}

/* ----------- mapp ------------- */
.mapp {
    /* background: url("img/map.png") 0 0 / contain no-repeat; */
    background-image: url("img/map.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    width: 100%;
    height: 59vh;


}

/* ----------- footer ------------- */

footer {
    display: flex;
    justify-content: center;

    margin: 114px 0;
}

.footer-circle {
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 567px;
    height: 567px;

    border-radius: 100%;
}

footer span {
    font-family: "Inter", sans-serif;

    color: #32798F;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.footer-img {
    margin-top: 114px;
}

.footer-adress {
    margin: 42px 0;
}

.footer-email {
    margin-top: 35px;
}



/* -----------  ------------- */



/* кросплатформенность */
@media (max-width: 1025px) {}

@media (max-width: 769px) {}

@media (max-width: 426px) {}