:root {
    --section-indent: 0 225px;
    --footer-circle-w-h: 567px;

    --dark: #1a2d30;
    --text-2: #71838c;
    --blue: #32798f;
    --gold: #c39674;

    --font-family: "Inter", sans-serif;
    --second-family: "Playfair Display SC", sans-serif;
    --third-family: "Suisse Intl", sans-serif;
}



body {
    background-color: #B0D5DA;
}

.google-fonts-a {
    font-family: "Playfair Display SC", serif;
}

.google-fonts-b {
    font-family: "Inter", sans-serif;
}

.section {
    margin: var(--section-indent);
}

h2 {
    font-size: 3em;
    font-family: "Playfair Display SC", serif;
    color: #1A2D30;
}

.villa-feedback-img {
    margin-left: 45%;
    margin-bottom: -3vw;
}

.section-one_villa-feedback-form h2 {
    font-family: "Playfair Display SC", serif;
    font-size: 3em;
    font-weight: 400;
    line-height: 60px;
}

nav {
    font-family: "Inter", sans-serif;

    display: flex;
    justify-content: space-between;
    align-items: center;

    color: #32798F;

    padding: 0 75px;
}

.logo-and-adress {
    display: flex;
    align-items: center;
}

.adress-in-head {
    margin-left: 30px;

    display: flex;
    flex-direction: column;
}

nav button:not(:last-child) {
    margin: 12.22px;
    font-size: 1em;
    font-weight: 400;
    background-color: #fff;
}

nav button:last-child {
    font-size: 1em;
    font-weight: 400;

    border: solid #32798F 2px;
    border-radius: 50px;
}

nav button {
    padding: 17px 25px 17px 25px;
    border-radius: 50px;
}

.menu {
    display: flex;
    align-items: center;
}

.whatsapp,
.language {
    display: flex;
    padding: 15px 25px 15px 25px;
    align-items: center;
}

.language img {
    margin-left: 10px;
}

.whatsapp img {
    width: 1.4em;
    margin-right: 3px;
}

.head {
    display: flex;
    font-family: "Inter", sans-serif;
    margin-top: 20px;
}

.head-1 p {
    color: #2C6678;
}

.head-1 img {
    width: 18em;
}

.head-img {
    max-inline-size: 130%;
}

h1 {
    font-family: "Playfair Display SC", serif;

    font-size: 100px;
    font-weight: 400;
    line-height: 100px;
    margin-top: 30.6px;
}

.reserve-btn {
    padding: 20px 30px 20px 30px;
    background-color: #32798F;
    color: #FFFFFF;
    border-radius: 50px;

    margin-top: 50px;
}

._villa-feedback-form {
    display: flex;
    align-items: flex-end
}

.spacer {
    margin-top: 150px;
}

._villa-feedback-form p,
._villa-feedback-form span {
    font-family: "Inter", sans-serif;
}

._villa-feedback-form p {
    width: 346px;

    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    color: #71838C;
}

.section-one_villa-feedback-form,
.section-two_villa-feedback-form {
    width: 50%;
}

.section-two_villa-feedback-form {
    display: flex;
    justify-content: center;
}

.section-one_villa-feedback-form p {
    margin-top: 23px;
}

.form-feedback {
    /* width: 654px; */
    /* height: 747px; */

    width: 80%;

    background-color: #ffffff;
    border-radius: 40px;

    padding: 30px;
}

.form-feedback span {
    font-family: var(--font-family);
    color: var(--text-2);
}

/* ----------------- форма обратной связи ----------------- */
.form-feedback h3 {
    font-family: "Playfair Display SC", serif;
    font-weight: 400;
    line-height: 129%;
    color: var(--dark);

    display: flex;
    justify-content: center;

    font-size: 1.5em;

    margin-bottom: 1em;
}

.date-arrival-departure {
    margin-bottom: 2em;

    display: flex;
    justify-content: space-between;
}

.form-feedback span {
    margin-top: 0.5em;
}

.form-feedback input {
    border: 1px solid var(--blue);
    border-radius: 50px;
    padding: 1em 1em;
    height: 4em;
    width: 8em;
}

#guests {
    text-align: center;
    background: url('img/arrow-inp.svg') 55% center / 7% no-repeat
}

.arrival,
.departure,
.guests {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.arrival,
.departure,
.guests:not(:last-child) {
    margin-right: 1em;
}

input {
    text-align: center;
}

.guests input {
    width: 11vh !important;
}

.name-telephone-email {
    display: flex;
    flex-direction: column;

    margin-bottom: 1em;
}

.name-telephone-email input {
    width: 100%;
    margin-bottom: 1em;

    font-family: var(--font-family);
    font-weight: 400;
    color: var(--dark);
}

input {
    font-family: var(--font-family);
    font-weight: 400;
    color: var(--dark);
}

.button-send {
    display: flex;
    justify-content: center;

    margin-bottom: 2em;
}

.send {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50px;

    height: 3.5em;
    width: 13em;

    background: var(--blue);

    font-family: var(--third-family);
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
}

.agreement {
    padding: 0 2em;
    display: flex;
    align-items: center;
}

.agreement span {
    margin-top: 0;
    font-size: .6em;
    font-family: var(--font-family);
    color: var(--text-2);
}

/* input[type='checkbox'] {
    all: revert;
    display: inline-block;
} */

.agreement input {
    margin-right: 1em;

    border: 1px solid var(--blue);
    border-radius: 10px;
    width: 2em;
    height: 2em;
}

/* -----------------    ----------------- */


.prices {
    display: flex;
}

.prices-container {
    width: 50%;
    margin-top: 53px;
}

.prices-container span {
    font-size: 1.2em;

}

.prices span {
    line-height: 28px;
    color: #71838C;
}

.span-a {
    color: #1A2D30 !important;
    margin-right: 6px;
}

.span-b {
    background-color: #fff;
    padding: .5em 1em .5em 1em;
    border-radius: 100px;


}

.price-in-euros {
    margin-top: 3vw;

    font-size: 80px;
    font-weight: 400;
    line-height: 60px;

    color: #1A2D30;
}

/* --------- video --------- */
.video-section iframe {
    width: 100%;
    height: 90vh;
    border: none;
}

/* ---------       --------- */

.interior-container_blocks {
    display: flex;
    justify-content: space-between;

    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
}

.interior-container h2 {
    font-weight: 400;
    font-size: 60px;
    line-height: 70px;

    margin-bottom: 80px;
}

.interior {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30%;
    height: 500px;

    border-radius: 40px;

    color: #fff;

    font-family: "Playfair Display SC", serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 100%;
    text-transform: uppercase;
}

.interior_1 {
    background:
        linear-gradient(rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)),
        url('./img/turtle 1.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.interior_2 {
    background:
        linear-gradient(rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)),
        url('./img/turtle 1.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.interior_3 {
    background:
        linear-gradient(rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)),
        url('./img/turtle 1.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}


/* ----------- Удобства и оснащения в доме ------------- */
.facilities-main-block {
    display: flex;
}

.facilities-1,
.facilities-2 {
    width: 50%;
}

.facilities-2 {
    position: absolute;
    right: 0;

    margin-right: 0;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        ". ."
        ". .";
    gap: 10px;
    /* justify-items: center; */
    /* align-items: center; */
}

.facilities-2 {
    background: url("img/3.png") 0 0 / contain no-repeat;
}

.facilities-1 {
    flex-direction: column;
}

.facilities-1 span {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.facilities-services {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px 20px;
    grid-template-areas:
        ". . ."
        ". . ."
        ". . .";

    margin: 73px 30% 0 0;
}


.facilities-services span span {
    margin-top: 1vh;
}


.facilities-services span {
    font-family: "Inter", sans-serif;

    color: #71838C;

    font-weight: 400;
    font-size: 16px;
    line-height: 187%;
    text-align: center;
}

.circle-1 {
    background-color: #ffffff;
    color: #32798F;
}

.circle-2 {
    background-color: #32798F;
    color: #ffffff;

}

.circle-1,
.circle-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 10px;

    width: 260px;
    height: 260px;

    border-radius: 100%;
}

.circle p {
    font-family: "Playfair Display SC", serif;
    font-weight: 400;
    font-size: 60px;
    line-height: 100%;

    margin-bottom: 18px;

}

.circle span {
    font-family: "Inter", sans-serif;

    font-weight: 400;
    font-size: 16px;
    line-height: 187%;
}

.circle-set-r {
    display: flex;
    justify-content: flex-end;
}

.circle-set-l {
    display: flex;
    justify-content: flex-start;
}

/* -----------  ------------- */


/* ----------- holiday ------------- */
.holiday {
    padding: var(--section-indent);
    display: flex;

    background-image: url('img/4.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0;
    position: relative;

}

.holiday-1,
.holiday-2 {
    width: 50%;
    /* border: #1A2D30 solid; */
}

.holiday-1 {
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
}

.holiday-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.holiday-2 h2 {
    font-family: "Playfair Display SC", serif;
    font-weight: 400;
    font-size: 35px;
    line-height: 129%;
}

.holiday-2 p {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1em;
    line-height: 150%;

}

.holiday-2 h2 {
    margin-bottom: 1vh;
}

.holiday-img img {
    height: 90vh;
}

/* ----------- arrow ------------- */
.arrows {
    display: flex;
    justify-content: flex-end;
    margin: -4em -2em;
}

.arrow-l,
.arrow-r {
    display: flex;
    justify-content: center;

    width: 5em;
    height: 5em;
    background: #fff;
    border-radius: 100%;
}

.arrow-l img,
.arrow-r img {
    width: 1.5em;
}

.arrow-l {
    margin-right: 1.5em;
}


/* ----------- conditions-head ------------- */
.conditions-head {
    display: flex;
}

.conditions-head-1 {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    width: 60%;
    /* border: solid red1; */
}

.conditions-head-2 {
    display: flex;
    justify-content: flex-end;
    width: 40%;
}

/* ----------- conditions ------------- */
.conditions {
    display: flex;
    /* border: solid black; */
}

.conditions-1,
.conditions-2 {
    width: 50%;
    /* border: solid red; */
}

.conditions .description {
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: #fff;
    margin: 20px 20px 20px 0;
    border-radius: 40px;
    padding: 30px;

    min-height: 15vh;

    font-family: "Inter", sans-serif;
}

.conditions .description p,
.conditions-rules p,
.conditions-rules span {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;

    color: #32798F;
}

.conditions .description span,
.conditions-rules span {
    font-weight: 400;
    font-size: 16px;
    color: #1A2D30;
}

.conditions-2 {
    display: flex;
}

.conditions-rules {
    width: 100%;
    background-color: #fff;
    margin: 20px 0;
    border-radius: 40px;
    padding: 30px;
}

.conditions-rules {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rules div span {
    margin-right: 10%;
}

.conditions-2 div:nth-child(2) div {
    display: flex;
}

/* ----------- main-attractions ------------- */
.main-attractions {
    background-image: url("img/5.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right top;

    padding: var(--section-indent);
}

/* ----------- attractions ------------- */
.attractions {
    display: flex;
    height: 82vh;
}

.attractions-1,
.attractions-2 {
    width: 50%;
}

.attractions-img {

    width: 100%;
    height: 100%;
}

.attractions-2 {
    display: flex;
}

.attractions-min-2,
.attractions-min-3 {
    /* border: solid blue; */
    display: flex;
    flex-direction: column;

    width: 50%;
}

.attractions-1 {
    /* border: solid blue; */
    display: flex;
    flex-direction: column;

    width: 50%;

    margin: 0 1em 0 0;
}

.attractions-description {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    height: 23vh;
    background-color: #fff;
}

.attractions-description p,
.attractions-description span {
    margin: 0 1em;
}



.attractions-description p {
    font-family: "Playfair Display SC", serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    color: #1a302b;

    /* margin-bottom: 5px; */
}

.attractions-description span {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 187%;
    color: #32798F;
}

.description-min {
    height: 67vh;
}

.margin-05em {
    margin: .5em;
}

/* ----------- mapp ------------- */
.mapp {
    background-image: url("img/map.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    width: 100%;
    height: 59vh;
}

/* ----------- footer ------------- */

footer {
    display: flex;
    justify-content: center;

    padding: 114px 0;

    background-image: url('img/3.png'), url('img/turtle 3 3.png');
    background-position: -570px 162px, right 10vw;
    background-repeat: no-repeat;
    width: 100%;
}

.footer-circle {
    display: flex;
    justify-content: center;

    background-color: #fff;

    align-items: center;
    flex-direction: column;
    width: var(--footer-circle-w-h);
    height: var(--footer-circle-w-h);

    /* width: 567px; */
    /* height: 567px; */

    border-radius: 100%;
}

footer span {
    font-family: "Inter", sans-serif;

    color: #32798F;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.footer-adress {
    margin: 42px 0;
}

.footer-email {
    margin-top: 35px;
}

.video-section img {
    margin-bottom: -8px;
}

/* -----------  ------------- */
/* -----------  ------------- */
/* -----------  ------------- */
/* -----------  ------------- */


/* кросплатформенность */
/* если больше */
@media (min-width: 1301px) {
    .mobile-nav {
        display: none;
    }

    .desktop-v {
        display: none;
    }
}

/* если меньше */
@media (max-width: 1301px) {
    :root {
        --section-indent: 0 25px;
    }

    html,
    body {
        overflow-x: hidden !important;
    }

    body {
        background-image: url('img/turtle 1.png');
        background-size: contain;
        background-position: 190px 170px;
        background-repeat: no-repeat;
    }

    .mobile-v {
        display: none;
    }

    nav {
        padding: 0 25px;
    }

    .head {
        margin-top: 60px;
    }

    .head-1 img {
        width: 15em;
    }

    .head-1,
    .mobile-nav-2 {
        position: relative;
        z-index: 1;
    }

    .head-img {
        position: absolute;
        top: 220px;
        right: -290px;
        z-index: 0;
    }

    h1 {
        font-family: "Playfair Display SC", serif;
        font-size: 2.7em;
        line-height: inherit;
    }

    .section-one_villa-feedback-form,
    .section-two_villa-feedback-form {
        width: 100%;
    }

    ._villa-feedback-form {
        display: flex;
        flex-direction: column-reverse;
    }

    .date-arrival-departure {
        /* margin-bottom: 2em; */
        display: flex;
        flex-direction: column;
    }

    .arrival,
    .departure,
    .guests {
        margin-right: 0;
    }

    .form-feedback {
        width: 100%;
    }

    .form-feedback input {
        width: 100%;
    }

    .form-feedback h3 {
        text-align: center;
    }

    .form-feedback span {
        margin: 0.5em 0.5em;
    }

    .guests input {
        width: 100% !important;
    }

    .agreement {
        padding: 0;
    }

    .agreement input {
        width: 1em;
        height: 1em;
    }

    .villa-feedback-img {
        margin-left: 10%;
        /* margin-bottom: -3vw; */
    }

    .section-one_villa-feedback-form h2 {
        font-size: 2.0em;
        line-height: 100%;
    }

    .prices {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .prices-container {
        width: 100%;
    }

    .prices-container span {
        font-size: 1em;
        margin-right: 1em;
    }

    .spans-price,
    .price-in-euros {
        text-align: center;

    }

    .spans-price {
        display: block;
        width: 100%;

        margin-bottom: 30px;
    }

    .prices-container span {
        font-size: 1em;
    }

    .interior-container h2 {
        font-size: 2.5em;
    }

    .slider .section {
        margin-top: 60px;
    }

    .facilities-1 h2 {
        display: flex;
    }

    .facilities-1 {
        width: 100%;
        margin-top: 30px;
    }

    .facilities-1 h2 {
        font-size: 2em;
    }

    .facilities-2 {
        width: 100%;
    }

    .facilities-main-block {
        display: flex;
        flex-direction: column-reverse;
    }

    .facilities-2 {
        position: relative;
    }

    .circle-1,
    .circle-2 {
        width: 150px;
        height: 150px;
    }

    .facilities-services {
        margin: 30px 0% 0 0;
    }

    .holiday {
        flex-direction: column;
    }

    .holiday-1,
    .holiday-2 {
        width: 100%;
    }

    .holiday-2 {
        margin-top: 100px;
    }

    .arrows {
        margin: -4em 0em;
    }

    .conditions-head-1,
    .conditions-head-2 {
        width: 100%;
    }

    .conditions-head-2 img {
        width: 50%;
    }

    .conditions-head {
        flex-direction: column-reverse;
    }

    .conditions {
        flex-direction: column;
    }

    .conditions .description {
        margin: 10px 0 10px 0;
    }

    .conditions-1,
    .conditions-2 {
        width: 100%;
    }

    .main-attractions h2 {
        font-size: 2em;
    }

    .attractions-1 {
        width: 100%;
    }

    .mapp {
        background-image: url("img/map.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        width: 100%;
        height: 59vh;
    }

    :root {
        --footer-circle-w-h: 364px;
    }

    .footer-img {
        width: 142px;
    }

    .footer-adress {
        margin: 20px 0;
    }

    .footer-email {
        margin-top: 5px;
    }

    footer {
        margin-top: 10vh;
        background-image: url('img/3.png'), url('img/turtle 3 3.png');
        background-position: -570px 270px, right -5vw;
        background-size: auto auto, 70% auto;
    }

    .footer-circle {
        margin-top: 100px;
    }

    .desktop {
        display: none;
    }
}

.mobile-nav {
    /* margin-top: 50px; */
    margin-top: 25px;
}

.mobile-nav-2 .adress-in-head {
    width: 60%;
    margin-left: 0px;
}

.mobile-nav-2 {
    padding: 0 25px;
}

.mobile-nav-2 .menu {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
}

.mobile-nav-2 button {
    padding: 17px 25px;
    border-radius: 50px;
    margin: 12.22px 0 0 0;
    font-size: 1em;
    font-weight: 400;
    background-color: #fff;

    font-family: var(--third-family);
    font-weight: 400;
    font-size: 16px;
    text-align: right;
    color: var(--blue);
}

.mobile-nav-2 .adress-in-head {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    color: var(--blue);
}





@media (max-width: 769px) {}

@media (max-width: 426px) {}